@charset "UTF-8";
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block: unset;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "outfit";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "young-serif";
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
.section .title {
  font-family: "young-serif";
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.section.prep-time .title {
  font-family: "outfit";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
}

body {
  font-family: "outfit";
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.bold {
  font-family: "outfit";
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

.section.intro .title {
  font-family: "young-serif";
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

body {
  color: hsl(30, 10%, 34%);
  margin: unset;
}

hr {
  border: 1px solid hsl(30, 18%, 87%);
  margin-block-start: unset;
  margin-block-end: 1.9375em;
}

.color-brown {
  color: hsl(14, 45%, 36%);
}

main {
  padding-block: 2.5em;
  padding-inline: 2em;
}

.section {
  margin-block-end: 2em;
}
.section .title {
  color: hsl(14, 45%, 36%);
}
.section .content {
  margin-block-start: 1.5em;
}
.section.intro .title {
  color: hsl(24, 5%, 18%);
}
.section.prep-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 12px;
  padding: 1.5em;
}
.section.prep-time .title {
  color: hsl(332, 51%, 32%);
}
.section.prep-time .content {
  margin-block-start: 1em;
}
.section .nutrition-table {
  margin-block-start: 1.5em;
}

ul, ol {
  padding: unset;
  margin: unset;
}

li {
  margin-inline-start: 1.5em;
  padding-inline-start: 1em;
}

li + li {
  margin-block-start: 0.5em;
}

li::marker {
  color: hsl(14, 45%, 36%);
  content: "•";
  font-weight: 700;
}

ol li::marker {
  content: counter(list-item) ".";
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;
}
.nutrition-table td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-block: 0.5em;
  text-align: left;
}
.nutrition-table td:first-child {
  padding-inline-start: 2em;
}
.nutrition-table td:last-child {
  padding-inline-end: 2em;
}
.nutrition-table tr:first-child td {
  padding-block-start: unset;
}
.nutrition-table tr:last-child td {
  padding-block-end: unset;
  border-bottom: unset;
}

/*# sourceMappingURL=main.css.map */
