@use "typography" as *;
@use "colors" as c;
@use "spacing" as s;

body {
  @extend %text-preset-4;
  color: c.$stone600;
  margin: unset;
}

hr {
  border: 1px solid c.$stone150;
  margin-block-start: unset;
  margin-block-end: s.$space400 - 0.0625;
}

.bold {
  @extend %text-preset-4-bold;
}

.color-brown {
  color: c.$brown800;
}

header {
  margin-block-end: s.$space500;
}

.card {
  margin-inline: auto;
  padding-block: s.$space500;
  padding-inline: s.$space400;

  header {
    display: none;
  }
}

.section {
  margin-block-end: s.$space400;
  .title {
    @extend %text-preset-2;
    color: c.$brown800;
  }

  .content {
    margin-block-start: s.$space300;
  }

  &.intro {
    .title {
      @extend %text-preset-1-mobile;
      color: c.$stone900;
      text-wrap: initial;
    }
  }

  &.prep-time {
    background-color: c.$rose50;
    border-radius: 12px;
    padding: s.$space300;

    .title {
      @extend %text-preset-3;
      color: c.$rose800;
    }

    .content {
      margin-block-start: s.$space200;
    }
  }

  .nutrition-table {
    margin-block-start: s.$space300;
  }
}

ul,ol {
  padding: unset;
  margin: unset;
}

ul li {
  margin-inline-start: s.$space100;
  padding-inline-start: s.$space200; // padding for adding gap after the marker
}

ol li {
  margin-inline-start: s.$space150;
  padding-inline-start: s.$space200; // padding for adding gap after the marker
}

li + li {
  margin-block-start: s.$space100;
}

li::marker { // control the marker style
  color: c.$brown800;
  content: '\2022'; // custom marker for controlling the gap between the list marker and the list item
  font-weight: $fontWeight700;
}

ol li::marker {
  content: counter(list-item)'.';
}

.nutrition-table {
  border-collapse: collapse;
  width: 100%;

  td {
    border-bottom: 1px solid c.$stone150;
    padding-block: s.$space100;
    text-align: left;
  }

  td:first-child {
    padding-inline-start: s.$space400;
  }

  td:last-child {
    padding-inline-end: s.$space400;
  }

  tr:first-child td {
    padding-block-start: unset;
  }

  tr:last-child td {
    padding-block-end: unset;
    border-bottom: unset;
  }
}